.rededit-image-expando{
    float:left;
    height:23px;
    width:23px;
    //this wont be applied and is applied by a style in the injection script
    margin:2px 5px 2px 0;
}

.rededit-image-expando.collapsed {
	background: url(../Images/ImageExpando.png) -4px -4px;
}

.rededit-image-expando.collapsed:hover, .eb-sch {
	background: url(../Images/ImageExpando.png) -4px -35px;
}

.rededit-image-expando.expanded, .eb-se {
    margin-bottom:5px;
	background: url(../Images/ImageExpando.png) -4px -66px;
}

.rededit-image-expando.expanded:hover, .eb-seh {
	background: url(../Images/ImageExpando.png) -4px -97px;
}

/*video expando*/

div.expando-button.video.collapsed {
	background: url(../Images/ImageExpando.png) -4px -4px;
}

div.expando-button.video.collapsed:hover, .eb-vch {
	background: url(../Images/ImageExpando.png) -4px -35px;
}

div.expando-button.video.expanded, .eb-se {
    margin-bottom:5px;
	background: url(../Images/ImageExpando.png) -4px -66px;
}

div.expando-button.video.expanded:hover, .eb-seh {
	background: url(../Images/ImageExpando.png) -4px -97px;
}

