<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Keegan</string>
	<key>CFBundleDisplayName</key>
	<string>Rededit</string>
	<key>CFBundleIdentifier</key>
	<string>com.InScopeApps.reddedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>Bar.html</string>
				<key>Label</key>
				<string>Reddit Bar</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>Global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Scripts/Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds features to the reddit website, and a bar which provides reddit information about the active webpage.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://inscopeapps.com</string>
</dict>
</plist>
